table {
    border-collapse: collapse;
}

body {
    background-color: dimgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

td {
    border: none;
    padding: 10px;
    text-align: center;
}

button {
    width: 160px;
    height: 80px;
    font-size: 30px;
}

#bouton-next {
    font-size: 20px;
}

#mot-a-changer {
    height: 40px;
    font-size: 30px;
}

.word-button, .start-button {
    width: 160px;
    height: 40px;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
}

#warning-device,
#warning-daltonien{
    background-color: #ffeeba;
    color: #856404;
    padding: 10px;
    border: 1px solid #ffc107;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: none;
}
